.sectionBanner{
    width: 100%;
    height: 60dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
    background: url('/image/aboutImg1_3.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
    text-align: center;
}

.sectionBanner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(15, 23, 43,0.85);
    z-index: -1;
}
.sectionBanner .content{
    text-align: center;
}
.sectionBanner .content h2{
    font-size: 5rem;
    color: white;
    margin-bottom: 3rem;
}

.sectionBanner .content p{
    text-align: center;
    color: white;
}
.sectionBanner .content p span{
    padding: .5rem;
}
.sectionBanner .content p span:nth-child(1),
.sectionBanner .content p span:nth-child(3){
    color: var(--yellow);
}
.sectionBanner .content p span:nth-child(2),
.sectionBanner .content p span:nth-child(4){
    color: #8d8c8c;
}




/* ------------------ 404 SECTION ----------------*/
.section404 .container{
    text-align: center;
}
.section404 .container .image{
    max-width: 30rem;
    max-height: 30rem;
    margin: auto;
}
.section404 .container h1{
    color: var(--yellow);
    font-size: 4rem;
    margin-bottom: 2rem;
}
.section404 .container p{
    max-width: 60rem;
    margin: auto;
    margin-bottom: 3rem;
  
}

.section404 .container .btnBx{
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
}
.section404 .container .btnBx .goBackBtn{
    display: flex;
    gap: 2rem;
    background: var(--yellow);
    border: 1px solid var(--yellow);
   padding: 1.2rem 1.6rem;
   color:var(--black);
   transition: all .2s ease;
}
.section404 .container .btnBx .ContactBtn{
   border: 1px solid var(--yellow);
   background: white;
   padding: 1.2rem 1.6rem;
   color:var(--black);
   transition: all .2s ease;
}

.section404 .container .btnBx .goBackBtn:hover{
    border: 1px solid var(--yellowHover);
    background: var(--yellowHover);
}
.section404 .container .btnBx .ContactBtn:hover{
    background: var(--yellow);
    background: var(--yellow);
}